# shell-scripte
*.sh

### LibreOffice ###
# LibreOffice locks
.~lock.*#


### Softmaker ###
# temporary
*.BAK
*.bak

### MicrosoftOffice ###
*.tmp
*.TMP

# Word temporary
~$*.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsdx
